[Unit]
Description=Pushbutton+LED gestures daemon
After=wifi-init.service
Requires=wifi-init.service

[Service]
Type=exec
WorkingDirectory=/opt/sensorgnome/wifi-button
ExecCondition=/usr/bin/bash gpio-init.sh gestures.txt
ExecStart=/usr/bin/node gestures.js gestures.txt
SyslogIdentifier=sg-gestures
RestartSec=60s
Restart=on-failure

[Install]
WantedBy=multi-user.target
