[Unit]
Description=Init wifi according to network.txt
Requires=sg-boot.service wpa_supplicant.service
After=sg-boot.service wpa_supplicant.service

[Service]
Type=oneshot
ExecStart=/opt/sensorgnome/wifi-button/scripts/wifi-init.sh
SyslogIdentifier=sg-wifi-init
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
