[Unit]
Description=Init wifi according to network.txt
# wpa-supplicant is required because we talk to it
# dhcpcd is required because it starts wpa_supplicant for the wlan interface
Requires=sg-boot.service wpa_supplicant.service dhcpcd.service
After=sg-boot.service wpa_supplicant.service dhcpcd.service

[Service]
Type=oneshot
ExecStart=/opt/sensorgnome/wifi-button/wifi-init.sh
SyslogIdentifier=sg-wifi-init
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
