[Unit]
Description=Baby-sit cellular modem
Requires=sg-boot.service
After=sg-boot.service

[Service]
Type=simple
ExecStart=/usr/bin/bash /opt/sensorgnome/cellular/check-modem.sh
SyslogIdentifier=check-modem
