[Unit]
Description=Sensorgnome hub monitoring and log shipping agent
After=sg-boot.service
Requires=sg-boot.service
Before=telegraf.service

[Service]
Type=exec
WorkingDirectory=/opt/sensorgnome/hub-agent
ExecStartPre=/opt/sensorgnome/hub-agent/telegraf-init.sh
ExecStart=/usr/bin/node hub-agent.js
StandardOutput=journal
SyslogIdentifier=sg-hub-agent
RestartSec=60s
Restart=always
WatchdogSec=8000
NotifyAccess=1

[Install]
WantedBy=multi-user.target
