[Unit]
Description=Init GPS for Sensorgnome
Requires=sg-boot.service
After=sg-boot.service
; Note: we can't declare before:gpsd 'cause it creates a dependency loop
Before=chrony.service

[Service]
Type=oneshot
ExecStart=/bin/bash -e /opt/sensorgnome/gps-clock/init-adafruit-gps.sh
SyslogIdentifier=sg-ada-gps-init
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
