[Unit]
Description=Init GPS for Sensorgnome
After=sg-boot.service
Before=gpsd.service gpsd.socket

[Service]
Type=oneshot
ExecStart=/bin/bash -e /opt/sensorgnome/gps-clock/init-adafruit-gps.sh
SyslogIdentifier=sg-ada-gps-init
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
