[Unit]
Description=Symlink to GPS for Sensorgnome
ConditionFileNotEmpty=/proc/device-tree/hat/product
After=local-fs.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /dev/sensorgnome
ExecStartPre=/usr/bin/systemctl stop serial-getty@ttyS0.service
ExecStart=/bin/bash -c 'grep -q "Ultimate GPS HAT" /proc/device-tree/hat/product && ln -f -s /dev/serial0 /dev/sensorgnome/gps.port=0.pps=1.kind=hat'
SyslogIdentifier=sg-gps-link
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
