[Unit]
Description=Detect and init GPS in modem managed by ModemManager
After=wifi-init.service
Requires=wifi-init.service

[Service]
Type=exec
WorkingDirectory=/opt/sensorgnome/gps-clock
ExecStart=/usr/bin/bash init-mm-gps.sh
SyslogIdentifier=sg-mm-gps-init
RestartSec=300s
Restart=on-failure

[Install]
WantedBy=multi-user.target
