[Unit]
Description=Sixfab Core Manager Sensorgnome Edition

[Service]
User=sixfab
Restart=always
Group=sudo
RestartSec=3
WorkingDirectory=/opt/sixfab/core_manager/core_manager
ExecStartPre=/opt/sensorgnome/gps-clock/init-sixfab-gps.sh
ExecStart=/usr/bin/python3 run.py

[Install]
WantedBy=multi-user.target
