[Unit]
Description=SSH tunnel to sensorgnome.org
# need sensorgnome_id to ensure registration matches ID
Requires=sg-boot.service
After=sg-boot.service

[Service]
Type=exec
WorkingDirectory=/opt/sensorgnome/ssh-tunnel
ExecStart=/opt/sensorgnome/ssh-tunnel/ssh-tunnel.sh /home/pi/.ssh
SyslogIdentifier=ssh-tunnel
RestartSec=600s
Restart=on-failure

[Install]
WantedBy=multi-user.target
