[Unit]
Description=Sensorgnome Boot process.
Wants=network.target
After=syslog.target sensorgnome-boot.service

[Service]
Type=simple
ExecStart=/home/pi/proj/sensorgnome/scripts/master.sh

[Install]
WantedBy=multi-user.target
