Package: sg-gps-clock
Version: 1.0
Architecture: armhf
Section: misc
Priority: standard
Essential: no
Depends: pps-tools, gpsd, gpsd-tools, chrony
Homepage: https://github.com/sensorgnome-support
Maintainer: TvE (tvoneicken@gmail.com)
Description: Sensorgnome gps clock config
  Detects and inits a local GPS. Then configures chrony, gpsd to use internet NTP and a
  local GPS with PPS as clock source.
