Package: sg-burstfinder
Version: 1.0
Architecture: armhf
Section: misc
Priority: standard
Essential: no
Depends: python3, python3-numpy, python3-yaml
Homepage: https://github.com/sensorgnome-support
Maintainer: TvE (tvoneicken@gmail.com)
Description: Sensorgnome BurstFinder PY
  Burstfinder aggregates Lotek p;ulses into tag bursts.
