Package: sg-upgrader
Version: 1.0
Architecture: armhf
Section: misc
Priority: standard
Essential: no
Depends: parted
Homepage: https://github.com/sensorgnome-support
Maintainer: TvE (tvoneicken@gmail.com)
Description: Sensorgnome software upgrade scripts
  Simple scripts called from sg-control to run apt to upgrade software.
